
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5;
}
.login-page{
    min-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-page .logo{
    width: 150px;
    margin-bottom: 20px;
}
.login-page .logo img{
    width: 100%;
    height: auto;
}
.login-page h2{
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.login-page .login-form{
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 8px;
}
.login-page form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-page .form-group{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}
.login-page .form-group label{
    width: 80%;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    text-align: left;
}
.login-page form input{
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.login-page form button{
    width: 85%;
    padding: 10px;
    background-color: #646cff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}